* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background: #000;
  color: white;
  overflow: hidden;
}

.bg-slider {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  animation: slideImages 10s infinite;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
}

@keyframes slideImages {
  0%, 50% {
    background-image: url('../images/Navy\ Estate\ 2.jpeg');
  }
  50.01%, 80% {
    background-image: url('../images/Navy\ Estate\ 1.jpeg');
  }
  50.02%, 100% {
    background-image: url('../images/Navy\ Gate.jpeg');
  }

}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form#staff-login {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

form h2 {
  margin-bottom: 20px;
  color: #005792;
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #005792;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background-color: #00406b;
}

.login-links {
  text-align: center;
  margin-top: 15px;
}

.login-links a {
  color: #005792;
  text-decoration: none;
  font-size: 0.9em;
}

.login-links a:hover {
  text-decoration: underline;
}